* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

body {
  background-color: rgb(111, 143, 175)
}

button {
  outline-color: transparent;
  outline: none;
  border: solid;
  border-radius: 5%;
  width: 25%;
  height: 13%;
}

.container {
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  position: fixed;
  transform: translate(-50%, 0);
  top: 20%;
  left: 50%;
  border: solid;
  border-color: brown;
  border-radius: 3%;
  border-width: 8px;
  width: 400px;
  height: 600px;
  background-color: brown;
}

.color-1 {
  background-color: orange;
}

.color-1:active {
  background-color: darkorange;
}

.operation {
  background-color: yellow;
}

.operation:active {
  background-color: rgb(180, 180, 0);
}

.number {
  background-color: rgb(215, 215, 190);
}

.number:active {
  background-color:  rgb(170, 170, 150);
}

#display {
  display: flex;
  justify-content: end;
  margin-bottom: 12px;
  width: 96%;
  height: 26%;
  border: solid;
  border-width: 20px 15px 20px 15px;  
  border-color: black;
  border-radius: 3%;
  background-color: gray;

}

#equal {
  background-color: darkgray;
}
#equal:active{
  background-color: rgb(115, 115, 115);
}
#result {
  font-size: 48px;
  align-self: center;
}

#zero {
  width: 50%;
}


